<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Sing in</title>
</head>

<body>
<div class="container" layout:fragment="content">
    <h1>Sign in</h1>
    <div class="w-50">

        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid Email and Password.</div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-success">You have been logged out.</div>
        </div>
        <form method="post" th:action="@{/signin}" th:object="${login}">
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="emailInput" th:field="*{email}" required aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="passwordInput" th:field="*{password}" required>
            </div>

            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>

</body>
</html>