<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Sign Up</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <h1>Sign Up</h1>
    <div class="w-50">
        <form method="post" th:action="@{/signup}" th:object="${user}">
            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="usernameInput" th:field="*{username}" required>
                <p th:errors="*{username}" class="text-danger"
                   th:if="${#fields.hasErrors('username')}">
                </p>
            </div>

            <div class="mb-3">
                <label for="emailInput" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailInput" th:field="*{email}" required aria-describedby="emailHelp">
                <p th:errors="*{email}" class="text-danger"
                   th:if="${#fields.hasErrors('email')}">
                </p>
            </div>

            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" th:field="*{password}" required>
                <p th:errors="*{password}" class="text-danger"
                   th:if="${#fields.hasErrors('password')}">
                </p>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
</body>
</html>
